html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 2rem;
  margin-bottom: 60px;
}
table {
    margin: auto
}

.level.page {
    display: none
}
.level.page.active_page {
    display: initial
}
.active_button {
    background-color: blue
}
